body{
    background-color:darkcyan;
}
#song{
    margin-left:26.5%;
    margin-top:7%;
    font-size:30;
    width:300;
    background-color:darkgoldenrod;
    border-color:darkgoldenrod;
}
#artist{
    font-size:30;
    width:300;
    background-color:darkgoldenrod;
    border-color:darkgoldenrod;
}

img{
    margin-left:26.5%;
}
#ASC{
    margin-top:6%;
}
button{
    margin-left:45%;
    width:100;
    height:50;
}
