body{
    background-color:cadetblue;
}
ul.topnav {
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:none;
}
ul.topnav li {float: left;}
ul.topnav li a {
    display: inline-block;
    color:darkseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
}
ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}
#curtainTop{
    margin-left:-8px;
    margin-top:-10px;
}
h1{
    font-size:50px;
    margin-left: 6%;
    margin-top:10%;
    font-family: Charcoal;
}
h2{
    font-family:Broadway;
}
p{
font-size:40px;
font-family:"Times New Roman";
}
li{
    font-size:40px;
    font-family:"Times New Roman";
}
#nameBox{
    background-color:goldenrod;
    height:100px;
    width:810px;
    margin-left:20%;
    margin-top:-7%;
}
#nameBox a{
    color:black;
}
h2{
    font-size:30px;
}
a{
    text-decoration: none;
    color: rebeccapurple;
}
#Box1{
    border: 2px solid darkgoldenrod;
    border-radius: 30px;
    width:300px;
    margin-top:100px;
    margin-left:20%;
    background-color:darkgoldenrod;
    text-align: center;
    transition: color 2s, background-color 2s;
}
#Box1:hover{
    color:red;
    background-color:dodgerblue;
}
#Box2{
    border: 2px solid darkgoldenrod;
    border-radius: 30px;
    width:300px;
    margin-top:100px;
    margin-left:20%;
    background-color:darkgoldenrod;
    text-align: center;
    transition: color 2s, background-color 2s;
}
#Box2:hover{
    color:red;
    background-color:dodgerblue;
}
#Box3{
    border: 2px solid darkgoldenrod;
    border-radius: 30px;
    width:300px;
    margin-top:-275.5px;
    margin-left:58%;
    background-color:darkgoldenrod;
    text-align: center;
    transition: color 2s, background-color 2s;
}
#Box3:hover{
    color:red;
    background-color:dodgerblue;
}
#Box4{
    border: 2px solid darkgoldenrod;
    border-radius: 30px;
    width:300px;
    margin-top:100px;
    margin-left:58%;
    background-color:darkgoldenrod;
    text-align: center;
    transition: color 2s, background-color 2s;
}
#Box4:hover{
    color:red;
    background-color:dodgerblue;
}
hr{
    height:5px;
    margin-top:50px;
    background-color: dimgrey;
}
#actualText{
    margin-top:10px;
}
#actualText h2{
    font-size:40px;
}
#Award{
    margin-left:575px;
    margin-top:-17%;
}
#name{
    width:300px;
    height:40px;
}
#message{
    width:300px;
    height:40px;
}
#Contact{
    font-size: 40px;
}
button{
    width:100px;
    height:30px;
}